
* {
  box-sizing: border-box;
}

.list-group-item:hover {
  background: #2a62f6;
  color: whitesmoke;
}

.px-2:hover, i:hover {
  color: #3bc9c7;
  cursor: pointer;
}

@media only screen and (max-width: 860px) and (min-width: 768px){
  .list-group-item{
    padding: 3px;
    margin: 0;
  }
}

header{
  z-index: 1;
}

.nav-link:hover {
  background-color: #3bc9c7;
  border-radius: 9px;
  color: wheat;
}

.nav-link {
  border-radius: 9px;
}
